<div class="col-md-12 col-sm-12 col-xs-12">
          
          
          <div class="panel panel-default">
            
            <div class="panel-body">
              <p>商品タイトル</p>
              <p class="item-title production-title production-params"><%=  @production_show.production_title %></p>
            </div>
            <div class="panel-heading text-center">
              <p>商品画像</p>
              <!--<= production.production_picture %>-->
              <%= image_tag(@production_show.production_picture) if @production_show.production_picture.present? %>
              <!--<= image_tag(production.production_picture) %>-->
            </div>
            <div class="panel-body">
              <p>商品説明</p>
              <p class="production"><%=  @production_show.production_information %></p>
            </div>
            <div class="panel-body">
              <p>商品ジャンル</p>
              <p class="production"><%=  @production_show.production_genre %></p>
            </div>
            <div class="panel-body">
              <p>商品季節</p>
              <p class="production"><%=  @production_show.production_season %></p>
            </div>
          
          </div>
          
    <%= form_for(@production_comment, url:send_comment_path) do |f| %>
        <div class="form-group">
          <%= f.label :'コメント' %>
          <!--< f.text_area :content, class: 'form-control', rows: 3 %>-->
          
          <%= f.hidden_field :production_id, :value => params[:id] %>
        
        <!--<div class="field">-->
        
         <% @display_comment.each do |comment| %>
          <div class="panel-body">
          <p class="production"><%= comment.user.nickname %>さん</p>
          <p class="production"><%= comment.content %></p>
          </div>
        <% end %>
        
        <%= f.text_area :content, class: 'form-control', rows: 3 %>
        
        <%= f.submit 'コメントを投稿する', class: 'btn btn-primary btn-block' %>
        </div>
    <% end %>
      
   
    
    
          
</div>